/* #cloud-map { */
/*     border: 1px solid black; */
/* } */

/* #cloud { */
/*     border: 1px solid green; */
/* } */

/* #tree { */
/*     border: 1px solid brown */
/* } */

/* #map { */
/*     border: 1px solid blue */
/* } */

#cloud {
    height: 18em;
}

#cloud svg g text:hover {
    fill: #d3d3d3 !important;
    cursor: pointer;
}

#tree {
    height: 450px;
    width: 100%;
}

#map {
    /* height: 20em; */
}

#map h2#email {
    text-align: center;
}

#map svg g g.color-legend g.legendCells g.cell text:hover {
    fill: #d3d3d3 !important;
    cursor: pointer;
}